@import '../../app/variables.scss';

.container{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 25%;
    right: 0;
    background-color: white;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    font-family: "Inter";
}

.darkBg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    transition: all 0.3s;
    z-index: 2;
}

.header{
    background-color: $base-color;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}

.close{
    transform: translateX(100%);
}

.open{
    transform: translate(0);
}

.visible{
    visibility: visible;
    opacity: 1;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

.cartArrow{
    position: absolute;
    left: 5%;
    cursor: pointer;
}